h1{
    color: aqua;
}
main{
    display: flex;
    text-align: center;
}
button{
    background-color: rgb(7, 7, 157);
    color: white;
    border-radius: 5px;
    border: 1px solid white;
    padding: 6px 31px;
    margin: 9rem 44rem;
    cursor: pointer;
}
.error{
    color: red;
    font-size: 0.8rem;
    margin-left: 4rem;
}